body {
    font-family: Verdana;
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
}

#container {
    width: 100%;
    height: auto;
}

nav {
    display: inline-block;
    width: 100%;
    height: auto;
    padding-bottom: 0;
    text-align: center;
    background-color: #000070;
    border: solid black 1px;
}

nav h1 {
    width: 50%;
    height: auto;
    margin: 0 auto;
    color: white;
    font-size: 2em;
}

#navLinks {
    display: inline-block;
    width: 33%;
    height: auto;
    vertical-align: top;

}

#navImage {
    display: inline-block;
    width: auto;
    height: auto;
    margin-right: 45%;
    margin-bottom: 2%;
    font-size: 10px;
}


#navMidden {
    display: inline-block;
    width: 33%;
    height: auto;
    vertical-align: top;
}

#navRechts {
    display: inline-block;
    width: 33%;
    height: auto;
    vertical-align: bottom;
}

#navUitloggen {
    float: right;
    width: 10%;
    height: auto;
    padding: 3% 0 3% 0;
    margin-top: 1%;
    background-color: white;
    min-width: 75px;
}

#navAdmin {
    float: right;
    width: 20%;
    height: auto;
    padding: 3% 0 3% 0;
    margin-top: 1%;
    margin-right: 2%;
    background-color: white;
    min-width: 75px;
}

#navContact {
    float: right;
    width: 25%;
    height: auto;
    padding: 3% 0 3% 0;
    margin-top: 1%;
    margin-right: 2%;
    background-color: white;
    min-width: 75px;
}

#navUitloggen a {
    text-decoration: none;
    color: black;
}

#links {
    display: inline-block;
    width: 17%;
    height: 510px;
    margin-right: -0.4%;
    background-color: lightgray;
    vertical-align: top;
    min-width: 130px;
}


#rechts {
    display: inline-block;
    width: 83%;
    height: 510px;

}

#rechts table {
    margin: 0 auto;
    margin-top: 2%;
    border-collapse: collapse;
}

#rechtsIndex {
    display: inline-block;
    width: 100%;
    height: 510px;
}

#rechtsIndex table {
    margin: 0 auto;
    margin-top: 2%;
    border-collapse: collapse;
}

#btnToevoegen {
     display: inline-block;
     width: 35%;
     min-width: 75px;
     height: auto;
     padding: 3% 0 3% 0;
     margin-top: 31%;
     margin-left: 20%;
     background-color: white;
 }

#btnVerwijzig {
    display: inline-block;
    width: 60%;
    height: auto;
    padding: 3% 0 3% 0;

    background-color: white;
}

#btnToevoegen a {
    text-decoration: none;
    color: black;
}

#btnVerwijzig a{
    text-decoration: none;
    color: black;
}

.hiddenButton {
    display: none;
}

footer {
    display: inline-block;
    width: 100%;
    height: 165px;
    margin-top: -0.2%;
    background-color: #000070;
    border: solid black 1px;
}

@media screen and (max-width: 400px){
    #container{
        min-width: 400px;
    }

    #links {
        display: none;
    }

    #navImage {
        display: none;
    }

    .logo {
        display: none;
    }

    #navRechts {
        margin-left: -290px;
        width: 400px;
        height: 120px;
    }

    #btnToevoegen {
        width: 35%;
        min-width: 100px;
        margin-left: -20px;
        padding: 3% 0 3% 0;
        margin-top: 31%;
        height: 45px;
    }

    #navUitloggen {
        margin-top: 16%;
        margin-left: 20px;
        width: 100px;
        height: auto;
    }

    nav h1{
        margin-top: 20px;
        font-size: 20px;
        margin-left: auto;
    }

    .hiddenButton {
        display: inline-block;
    }
}
